* { box-sizing: border-box; }
img { max-width: 100%;}

body {background-color: pink;}

#main-wraper {border: thin solid black; width: 90%; margin: 0 auto; background-color: white;}

header { border: thin solid yellow; background-image: url(images/header.jpg); padding-left: 10px;}
header img { width:20%; float:left; }
header p { color: white; font-size: 40px; padding-top: 20px; margin: 0; font-family: fantasy;
  font-weight:bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.75px;}
header:after {
    content: "";
    display: table;
    clear: both;
}

nav { border: thin solid orange; padding-left: 25px;}

section { border: thin solid green;}
#titulo {width: 80%; margin: 0 auto; padding-top: 10px;}
#tiitulo-left {width: 20%; float: left; background-color: green; margin: 0;}
#tiitulo-left p {color: white; margin: 0;}
#tiitulo-right {width: 80%; float: right; background-color: orange; height: 100%;}

footer { border: thin solid blue; background-color: #00002a;}
footer p {color: white; font-size: Arial; margin: 0; padding-bottom: 10px;}
footer img { width: 40px; margin: 0;}
.face {padding-bottom: 5px;}

.scrollmenu {
    background-color: #00002a;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: green;
}


.clearfix { clear: both; }
